@import "../../style/inputs.scss";
@import "../../style/funcs";

.hider {
  display: none !important;
}

.absoluteWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: black;
  opacity: 25%;
}

.editWrapper {
  padding: 3rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;

  background-color: white;
  border-radius: toRem(48);
  width: 30vw;

  & h1 {
    font-size: 2rem;
  }

  & .topBar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    width: 100%;
  }

  & form {
    width: 100%;

    & label {
      display: flex;
      flex-direction: column;
    }

    & .mb {
      margin-bottom: 2rem;
    }

    .hInputGroup {
      display: flex;
      justify-content: space-around;
      & button {
        width: 45%;
      }
    }
  }

  & .respPhoto {
    & img {
      border-radius: .5rem;
    }
    width: 150px;
    height: 150px;
  }

  & .photoFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


@media (min-width: 1300px) {
  .editWrapper {
    width: 35vw;
  }
}